.dashboard {
  position: relative;
  padding: 20px 0;
}

.dashboard-title {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 32px;
  position: relative;
}

.dashboard-title::after {
  content: '';
  display: block;
  width: 90%;
  height: 4px;
  background-color: var(--color-primary);
  margin: 12px auto 0;
  border-radius: 2px;
}
.nav-buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.nav-buttons button {
  padding: 36px 12px;
  font-size: 20px;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.nav-buttons button:hover {
  background-color: var(--color-primary-hover);
}

@media only screen and (min-width: 768px) {
  .nav-buttons {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .dashboard-button {
    flex-basis: calc((100% - 24px) / 2);
  }
  .dashboard-button:last-child {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  .dashboard-button {
    flex-basis: calc((100% - 48px) / 3);
  }
}
