<div class="backdrop add-client-modal is-hidden">
  <div class="add-client">
    <div class="container">
      <button class="btn-exit" type="button">
        <svg class="icon-exit" width="32" height="32">
          <use href="/img/sprite.svg#exit"></use>
        </svg>
      </button>

      <form class="dashboard-modal__form add-client__form">
        <div class="dashboard-modal__form-field">
          <div class="input">
            <label class="input__label visually-hidden" for="client-name"
              >Имя</label
            >
            <input
              class="input__control"
              type="text"
              id="name"
              name="name"
              placeholder="Имя"
              required
            />
          </div>
        </div>
        <div class="dashboard-modal__form-field">
          <div class="input">
            <label class="input__label visually-hidden" for="client-surname"
              >Фамилия</label
            >
            <input
              class="input__control"
              type="text"
              id="surname"
              name="surname"
              placeholder="Фамилия"
              required
            />
          </div>
        </div>
        <div class="dashboard-modal__form-field">
          <div class="input">
            <label class="input__label visually-hidden" for="client-phone"
              >Телефон</label
            >
            <input
              class="input__control"
              type="tel"
              id="phone"
              name="phone"
              placeholder="Телефон"
              required
            />
          </div>
        </div>
        <div class="dashboard-modal__form-field">
          <div class="input">
            <label class="input__label visually-hidden" for="country"
              >Страна</label
            >
            <input
              class="input__control"
              type="text"
              id="country"
              name="country"
              value="Украина"
              placeholder="Страна"
              required
            />
          </div>
        </div>
        <div class="dashboard-modal__form-field">
          <div class="input">
            <label class="input__label visually-hidden" for="city"
              >Город / населённый пункт
            </label>
            <input
              class="input__control"
              type="text"
              id="city"
              name="city"
              placeholder="Город / населённый пункт"
              required
            />
          </div>
        </div>
        <div class="dashboard-modal__form-field">
          <div class="input">
            <label class="input__label visually-hidden" for="address"
              >Улица, дом, квартира
            </label>
            <input
              class="input__control"
              type="text"
              id="address"
              name="address"
              placeholder="Улица, дом, квартира"
              required
            />
          </div>
        </div>
        <div class="dashboard-modal__form-field">
          <div class="input">
            <label class="input__label visually-hidden" for="coordinates"
              >Координаты
            </label>
            <input
              class="input__control"
              type="text"
              id="coordinates"
              name="coordinates"
              placeholder="Координаты"
            />
          </div>
        </div>
        <button class="dashboard-modal__form-btn" type="submit">
          Добавить
        </button>
      </form>
    </div>
  </div>
</div>
