<div class="dashboard">
  <div class="container">
      <h2 class="dashboard-title">Панель управления</h2>
      <nav class="nav-buttons">
        <button class="dashboard-button dashboard-add-client">Добавить клиента</button>
        <button class="dashboard-button dashboard-search-client">Найти клиента</button>
        <button class="dashboard-button dashboard-clients-list">Список клиентов</button>
        <button class="dashboard-button dasboard-map">Карта</button>
      </nav>
  </p>
</div>
