.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
}

.container {
  position: relative;
}

.dashboard-modal__form {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.dashboard-modal__form-field {
  margin-bottom: 24px;
}

.input__control {
  padding: 16px 0 16px 48px;
  width: 100%;
  border: 1px solid var(--color-border);
  border-radius: 8px;
}

.input__control:hover,
.input__control:focus {
  border-color: var(--color-primary);
}

.dashboard-modal__form-btn {
  background-color: var(--color-accent);
  padding: 16px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
}

.dashboard-modal__form-btn:hover {
  background-color: var(--color-accent-hover);
}

.btn-exit {
  position: absolute;
  right: 30px;
  top: 30px;
  padding: 16px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
}

.btn-exit:hover {
  background-color: var(--color-border);
}

.icon-exit {
  fill: var(--color-accent);
}

.icon-exit:hover {
  fill: var(--color-accent-hover);
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.action-btn-group {
  display: flex;
  gap: 8px;
  flex-grow: 1;
}

.action-btn {
  padding: 16px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  text-decoration: none;
  height: 64px;
  width: 64px;
}

/* .action-btn-group {
  display: flex;
  gap: 8px;
  flex-grow: 0;
  flex-shrink: 0;
} */
.action-btn {
  transition: ease-in-out 0.3s;
}
.action-btn:hover {
  background-color: var(--color-border);
}
